*~
*.c
*.cpp
*.egg
*.gz
*.nix
*.py[cod]
*.so
*.stackdump
.coverage
.idea/
.mypy_cache
.project
.pydevproject
.settings
.vscode
/.cache
/.python-version
/Mathics_Scanner.egg-info
ChangeLog
Documents/
Homepage/
Test/
_Copies_/
_Database_/
build/
/mathics_scanner/data/characters.json
dist/
tmp
