*.c
*.cpp
*.egg
*.gz
*.nix
*.py[cod]
*.so
*.stackdump
*~
.coverage
.idea/
.mypy_cache
.project
.pydevproject
.settings
.vscode
/.cache
/.pyodide-xbuildenv-*
/.python-version
/ChangeLog-spell-corrected
/Mathics_Scanner.egg-info
/mathics_scanner/data/character-tables.json
/mathics_scanner/data/operators.json
ChangeLog
ChangeLog.orig
ChangeLog.rej
Documents/
Homepage/
Test/
_Copies_/
_Database_/
build/
dist/
tmp
