include README.rst
include CHANGES.rst
include ChangeLog
include COPYING.txt
include FUTURE.rst
include Makefile
include mathics_scanner/Makefile
include mathics_scanner/data/named-characters.yml
include requirements-full.txt
include requirements-dev.txt
recursive-include mathics_scanner *.py
recursive-include test *.py
