name: Mathics3 Scanner (ubuntu)

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Mathics3 scanner without JSON files
      run: |
        python -m pip install --upgrade pip
        pip install -e .
    - name: Install JSON files
      run: |
        python -m mathics_scanner.generate.boxing_characters
        python -m mathics_scanner.generate.named_characters
        python -m mathics_scanner.generate.operators
    - name: Test Mathics3 Scanner
      run: |
        pip install -r requirements-dev.txt
        pip install -r requirements-full.txt
        make check
